<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Sign in</h4>
      <div class="card-body">
          <form >
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" [(ngModel)]= "postData.userName" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password"  class="form-control" [(ngModel)]= "postData.password"[ngModelOptions]="{standalone: true}"/>
              </div>
               <button  class="btn btn-primary" (click)="postLogin()">
                      Login
               </button>
          </form>
      </div>
  </div>
</div>
